body {
	font-family: Arial;
	margin: 0;
	color: white;
	background-color: #303F3C;
}

header {
	font-size: 40px;
	text-align: center;
}

main {
	background: white;
	color: #303F3C;
}

table {
	width: 750px;
	margin: auto;
	table-layout: auto;
	color: white;
	font-weight: bold;
}

thead {
	background: #3C9D76;
	text-align: center;
}

tbody {
	background: #92D761;
}

input {
	width: 100%;
	margin: 2px 0px;
}

button {
	text-align: center;
	font-size: 16px;
	background-color: #92D761;
}

.darker {
	height: 50px;
	background-color: #303F3C;
}

.dark {
	height: 50px;
	background-color: #3C9D76;
}

.light {
	height: 25px;
	background-color: #92D761;
}

.lighter {
	height: 25px;
	background-color: #F2DD6A;
}

.input {
	margin: 5px auto;
	width: 400px;
}

.delete {
	border: none;
    color: red;
    width: 100%;
    font-weight: bold;
}

.add {
	display: flex;
	margin: 5px auto;
	width: 400px;
}

#add {
	border: #303F3C;
	color: white;
	width: 50%;
    padding: 10px 5px;
    margin: 10px auto;
}    